@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url(images/tile3.jpg);
}



/* Index Page (splash) */


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}


h1 {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    font-family: 'Press Start 2P', cursive;
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    font-family: 'Press Start 2P', cursive;
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    font-family: 'Press Start 2P', cursive;
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    font-family: 'Press Start 2P', cursive;
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  
  .container {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #86faec;
    border-radius: 5px;
  }
  
  .title {
    font-family: 'Press Start 2P', cursive;
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
  }

  .menuContainer {
      
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
     
  }

  .menu {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;;
}

.menu a {
    color: pink;
    
}

.menu:hover {
    border-style: dotted;
    color: #679efd;
    
}

.menu a:hover {
    color: rgb(247, 149, 165);
}


/* Home Page */

#header {

}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #86faec;
  border-radius: 5px;
  padding: 1em;
  font-family: 'Press Start 2P', cursive;
  

}

.header-items {
  

}


.header-title {
  font-size: 40px;
  
}

.nav-links {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  font-size: 15px;
  

}

.nav-item {
  flex-grow: 1;
  border-radius: 2px;
  padding: .1em .5em .1em .5em;
  color: grey;
  
}

.nav-links a {
  background-color: #E4A9A8;
  text-decoration: none;
  padding: .3em .7em .3em .7em;
}

.nav-item-1:hover {
  background-color: #3D8DAE;

}

.nav-item-2:hover {
  background-color: #DF8453;

}
.nav-item-3:hover {
  background-color: #DBAD4A;

}
.nav-item-4:hover {
  background-color: #DF8453;

}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.header-title-word {
  animation: color-animation 4s linear infinite;
  margin-right: 0.5em;
}

.header-title-word-1 {
  font-family: 'Press Start 2P', cursive;
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.header-title-word-2 {
  font-family: 'Press Start 2P', cursive;
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.header-title-word-3 {
  font-family: 'Press Start 2P', cursive;
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.header-title-word-4 {
  font-family: 'Press Start 2P', cursive;
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}


@media  screen and (max-width:860px) {
  .header-title-word {
    font-size: 40px;
  }
  
}

/*main content area*/


.content-container {
  display: flex;
  margin-top: 10px;
  gap: 1em;

}

.sidebar {
  width: 30%;
  background-color: rgba(126, 87, 194, .8);
  color: white;
  min-height: 200px;
  border-radius: 5px;
  max-width: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  

}

.line {
  height: 2px;
  color: white;
  width: 100%;
  background-color: white;
}

.line2 {
  height: 2px;
  color: white;
  width: 100%;
  background-color: white;
  margin-top: 25px;
}

.sidebar-title {
  color: white;
}

.sidebar-sub {
 
}

.form-label {
  width: 95%;
  color:#86faec;
}

.submit-label {
  margin-top: 10px;;
}

.main-content {
  width: 70%;
  /*background: rgba(255, 255, 255, .6);*/
  
  border-radius: 5px;
  flex-grow: 1;
  min-height: 500px;
}

.beanie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

}

.beanie {
  flex-grow: 1;
  border-radius: 5px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.beanie img {



}

.beanie:hover img{


}


.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  
  background-color: rgba(255, 255, 255, .9);
  border-radius: 5px;
  padding: 2% 10% 2% 10%;

}

.about-item {
  flex-grow: 1;
  width: 100%;
  border-radius: 5px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}


@media screen and (max-width: 350px) { 
    font-family: 'Press Start 2P', cursive;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
}
